/*?????????????????????? */
@media screen and (min-width: 800px) {
    .main-nav .nav-button {
        display:none;
    }

    .main-nav ul, .main-nav ul.active {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    
    .flex div {
        width:50%
    }
/*end????????????????? */